    .character-container {
        position: relative;
        overflow: hidden;
        width: 200px; 
        height: 165px; 
    }

    .character-container img {
        position: absolute;
        top: 0; 
        left: 0;
        transition: top 0.5s ease; 
    }

    .peek-button {
        position: absolute;
        bottom: 100px;
        left: 50%;
        height: 150px;
        width: 150px;
        transform: translateX(-50%);
        display: none;
        opacity:0;
    }