    .character-container {
        position: relative;
        overflow: hidden;
        width: 200px; 
        height: 165px; 
    }

    .character-container img {
        position: absolute;
        top: -100%; 
        left: 0;
        transition: top 0.5s ease; 
    }
